
/******Hide stepper arrows***********/

.romanize-input::-webkit-outer-spin-button,
.romanize-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
  -moz-appearance:textfield;
}
/************************************/

.romanize-input {
    text-align: center;
    width: 80px;
    border-radius: 5px;
  }
  
  .wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    text-align: center;
  }
  
  .outputbox {
    position: absolute;;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 210px;
    left: 0;
    width: 200px;
    height: 200px;
    background-image: url("img/stone.png");
    background-size: cover;
    text-align: center;
  }

  .letters {
    color: rgb(247, 225, 197);
    padding-top: 50px;
    font-size: 56px;
    text-shadow: rgb(48, 47, 42) 10px 4px 2px;
    font-weight: bold;
  }

  .romanize-btn {
     border-radius: 2px;
  }

  /*******************CLOUDS*************************/

  /*.hide {
    visibility: hidden;
  } 
  .show {
    visibility: visible;
  }
  */

  .test {
    border: solid red 20px;
  }

  .cloud1 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 150px;
    left: 0;
  
  }
  .cloud2 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 65px;
    left: 70px;
  }
  .cloud3 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 20px;
    bottom: 10px;
    left: 0px;
  }
  .cloud4 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 80px;
    bottom: 70px;
    left: 0px;
  }